/* ------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------*/
.wrap{
    margin: 0px;
    padding: 0px;
    background-color: #bce8f1;
    height: 800px;
}
.header-title {
    background-color: rgba(0, 0, 0, 0.89);
    display: flex;
}
.left-header{
    margin: auto;
    text-align: center;
}
.left-header p {
    margin: auto 25px;
    font-size: 1em;
    line-height: 0.8;
    color: #f5b120;
    text-transform: capitalize;
    letter-spacing: 3.7px;
    padding-bottom: 10px;
}
.main-name{
    text-decoration: none;
    font-size: 36px;
    color: white;
    text-align: center;
    margin-left: 15px;
}

.left-header p {
    line-height: 1.3em;
}

.center-header{
    margin: auto;
    text-align: center;
}

.center-icon{
    display: inline-block;
    width: 50px;
    height:50px;
    text-align: center;

}
.right-header{
    margin: auto;
}

.search-group {
    margin-top: 2px;
    float: right;
    width: 100%;
}

.search-group .input-group-addon {
    padding: 0;
    border: none;
    background-color: transparent;
}

.search-group .glyphicon {
    font-size: 22px;
}

.search-group input {
    height: 41px;
}

.search-group button {
    margin-left: -2px;
}
.icon-menu {
    margin-right: 5px;
}
/*css for header-menu*/
/* inline on the menu*/
.menu {
    margin:0px;
    padding:15px  15px;
    background: #3fa46a;
    text-align: center;
    font-family: Raleway;
    font-weight: bold;
    position: relative;

}
nav li {
    display: inline;
    float: none;
}

nav li a {
    color: #ffffff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
.effect-menu {
    transition: 0.3s ease;
    background: #3fa46a;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-top: 3px solid #3fa46a;
    border-bottom: 3px solid #3fa46a;
    padding: 15px 0;
    margin: 0 30px;
}
.effect-menu:hover {
    color: white;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    padding: 10px 20px;
    text-decoration: none;
}
/*@@@@@*/
nav a#pull-menu {
    display: none;
}
nav a#pull-logo{
    display: none;
}
.glyphin-menu{
    font-size: 30px;
    margin: 0px auto;
    padding: 0px 0px !important;
}
.glyphin-logo{
    font-size: 30px;
}
@media(max-width:992px) {
    .center-header {
        display: none;
    }
    .search-group{
        width: 100%;
        margin-bottom: 15px;
    }
    .left-header {
        margin-bottom: 10px;
    }
    .header-title{
        display: block;
    }
    .menu .effect-menu{
        display: none;
    }
    .menu{
        height: 55px;
        width: 100%;
        padding: 10px 15px;
    }
    .menu a#pull-menu {
        float: right;
        display: block;
        text-align: center;
    }
    .menu a#pull-logo{
        float: left;
        display: inline-flex;
        text-decoration: none;
    }  
}
    .link{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .content-title{
        float: left;
        margin: 20px auto;
    }
    .infor p {
        font-size: 17px;
    line-height: 25px;
    color: #222;
    font-family: "Times New Roman",Georgia,Serif;
    padding: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    margin-bottom: 15px;
    }
    .infor h4 {
    margin-bottom: 20px;
    }
    .infor img{
        margin: 10px auto;
    }
    @media(max-width:700px) {
    .infor img {
            width: 500px;
    	}
	}
    @media(max-width:500px) {
    .infor img {
            width: 300px;
    	}
    }
    .Intro{
        margin-top: 10px;
    }
    
/* other class */
			.btn-primary {
                background-color: #E7A331;
                color: #ffffff;
                border: 2px solid #E7A331;
                text-transform: uppercase;
                border-radius: 4px;
            }
            .btn-primary:hover {
                background-color: #d6962c;
                border-color: #d6962c;
                color: #fff;
            }

			.portfolio{
                background:center top no-repeat;
                -moz-background-size: cover;
                -webkit-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                width: 100%;
                overflow: hidden;	
            }

            .portfolio_content{
                padding-bottom:120px;
                display:inline-block;
            }
            .portfolio .portfolio_content .head_title h3{
                color:#000000;
            }
            .portfolio .portfolio_content .head_title h4{
                color:#000000;
            }

            .single_portfolio_text{
                display:inline-block;
                padding:0;
                position:relative;
                overflow:hidden;

            }
            .single_portfolio_text img{
                width:100%;
            }

            .single_portfolio_text:hover .portfolio_images_overlay{
                top:5%;
                left: 5%;
            }

            .portfolio_images_overlay{
                width: 90%;
                height: 90%;
                background: rgba(0, 0, 0, .5);
                padding: 20px;
                margin: 0 auto;
                top:-100%;
                left: 5%;
                position: absolute;
                transition:.6s;
            }
            .portfolio_images_overlay h6{
                text-transform:uppercase;
                color:#fff;
                font-size:15px;
                line-height:2.575rem;
                font-weight: 100;
                margin-bottom: 1rem;
                margin-top: 1rem;
            }

            .portfolio_images_overlay p.product_price{
                font-size:15px;
                color:#fff;
                line-height:3rem;
            }
            .portfolio_images_overlay .btn{
                margin-top: 15px;
            }

            @media (min-width:769px) and (max-width:991px) {
                .portfolio_images_overlay {
                    padding: 0px;
                }
            }
            @media (max-width:768px) {
                .portfolio_images_overlay{
                    padding: 50px 2px;
                }
                .portfolio_images_overlay .btn{
                margin-top: -5px;
            	}
            }
            @media (max-width:580px) {
                .portfolio_images_overlay{
                    padding: 40px 2px;
                }
                .portfolio_images_overlay .btn{
                margin-top: -5px;
            	}
            }
            @media (max-width:480px) {
                .portfolio_images_overlay{
                    padding: 30px 2px;
                }
                .portfolio_images_overlay .btn{
                margin-top: -5px;
            	}
            }
            @media (max-width:320px) {
                .portfolio_images_overlay{
                    padding: 20px;
                }
                .portfolio_images_overlay .btn{
                margin-top: -5px;
            	}
            }
		
/* footer */
    .footer{
            margin-top:2%;
            background-color: black;
        }
        .top-footer{
            height: 100px;
            border-bottom: thin solid red;
        }
        #text-footer a:hover{
            text-decoration: none;
        }
        #search-footer{
            margin-top: 30px;
        }
